html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    .image-wrapper img {
    display: inline-block; /* Позволяет изображениям располагаться в ряд */
}
}
