
{% extends 'base.html' %}
{% load static %}

{% block title %}Список товаров{% endblock %}

{% block content %}
<h1 class="mb-4">Список товаров</h1>

<!-- Фильтр по категориям -->
<div class="mb-3">
    <strong>Категории:</strong>
    <a href="{% url 'products' %}" class="btn btn-sm {% if not selected_category %}btn-success{% else %}btn-outline-success{% endif %}">Все</a>
    {% for category in categories %}
        <a href="?category={{ category.id }}" class="btn btn-sm {% if category.id|stringformat:"s" == selected_category %}btn-success{% else %}btn-outline-success{% endif %}">
            {{ category.name }}
        </a>
    {% endfor %}
</div>

    <!-- Поиск -->
    <form method="get" class="text-center mb-4">
        <div class="input-group w-50 mx-auto">
            <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Поиск по названию продукта ..."
                   class="form-control border-success">
            <button class="btn btn-success" type="submit">🔍 Найти</button>
        </div>
    </form>

<!-- Список товаров -->
<div class="row">
    {% for product in products %}
        <div class="col-md-4 mb-4">
             <div class="card h-100 shadow-sm">
                {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                {% else %}
                    <img src="{% static 'no-image.png' %}" class="card-img-top" alt="Нет фото">
                {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description|truncatewords:15 }}</p>
                <p class="text-muted">{{ product.price }} BYN</p>
                <p>Цена в долларах {{ product.cur_dollar|floatformat:2 }} </p>
                {% if product.in_stock %}
                <span class="badge bg-success">В наличии {{ product.quantity }} шт.</span>
                {% else %}
                <span class="badge bg-danger">Нет в наличии</span>
                {% endif %}
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'product_detail' product.id %}" class="btn btn-primary btn-sm">Подробнее</a>
            </div>
        </div>
        </div>
    {% empty %}
        <p>Нет доступных товаров.</p>
    {% endfor %}
</div>
{% endblock %}
